*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clone{
    border-radius: 7px;
    
}
:root{
    --background-color: #09996b;
    --aside-color: #151a21;
    --chat-form-color: #232d33;
    --opened-chat-asidecolor:#151a21;
    --main-chat-color: #edf0f2;
    --footer-chat-color: #edf0f2;
    --owner-message-color:#ddf7c3;

}


body{
    background-color: var(--background-color);
    padding: 35px;
}

.clone{
    background-color: white;
    display: grid;
    grid-template-columns: 360px 1fr;
    height: 100vh;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

aside{
    background-color: var(--aside-color);
    border-radius: 7px 0 0 0;
}
.profile-photo-main{
    width: 70px;
    border-radius:50%;
    gap: 4px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

aside header{
    display: flex;
    padding: 15px;
}
.profile-buttons{
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-buttons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--aside-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.profile-buttons button:hover{
    transform: translateY(-4px);
    transition: 35ms;
}
.profile-buttons button svg {
    width: 25px;
    height: 25px;;
    color: white;
}

.profile h2{
    color: white;
    font-size: 23px;
    padding: 8px;
}

.search-form{
    padding: 15px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form input{
    gap: 10px;
    width: 100%;
    display: block;
    background-color: var(--chat-form-color);
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: var(--footer-chat-color);
}

.search-form input:focus{
    outline: 1px solid grey;
}

.chats{
    background-color: var(--aside-color);
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.chat-user-list img{
    border-radius: 50%;
    width: 70px;
}
.chat-user-list{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    border-radius: 0 6px 6px 0
}
.chat-user-list:hover{
    background-color: var(--chat-form-color);
    cursor: pointer;
    border-left: 3px solid greenyellow ;
}

.chat-user{
    background-color:var(--aside-color);
    border-bottom: var(--chat-form-color);
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    border-radius: 0 7px 0 0;
    color: white;
}
.chat-user img{
    border-radius: 50%;
    width: 80px;
    gap: 3px;
    display: flex;
}
.chat-user p{
    color: var(--main-chat-color);
}



footer{
background-color: rgb(219, 214, 214);
display: flex;
align-items: center;
justify-content: space-between;
gap: 15px;
align-items: center;
}
footer button{
    padding: 5px;
}

footer svg{
    width: 25px;
    padding: 3px;
}
footer form{
    flex: 1;
}
footer form textarea{
    width: 100%;
    padding: 10px;
    resize: none;
    border-radius: 15px;
    border: none;
    margin-top: 4px;
    align-items: center;
}
footer form textarea :focus{
    outline: #232d33;
}
footer .btn-attach{
    border: none;
    background-color: transparent;
    cursor: pointer ;
}
footer .btn-send{
    border: none;
    background-color: transparent;
    cursor: pointer ;
}

.btn-attach :hover{
    transform: translateY(-2px);
    color: rgb(196, 190, 190);
}

.btn-send :hover{
    transform: translateY(-2px);
    color: rgb(196, 190, 190);
}

