*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --background-color: #09996b;
    --aside-color: #151a21;
    --chat-form-color: #232d33;
    --opened-chat-asidecolor:#151a21;
    --main-chat-color: #edf0f2;
    --footer-chat-color: #edf0f2;
    --owner-message-color:#ddf7c3;

}


body{
    background-color: var(--background-color);
    padding: 35px;
}

.clone{
    background-color: white;
    display: grid;
    grid-template-columns: 360px 1fr;
    height: 100vh;
}

aside{
    background-color: var(--aside-color);
}
.profile-photo-main{
    width: 60px;
    border-radius:50%;
    gap: 4px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside header{
    display: flex;
    padding: 10px;
}
.profile-buttons{
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-buttons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--aside-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.profile-buttons button svg {
    width: 25px;
    height: 25px;;
    color: white;
}

.profile h2{
    color: white;
    font-size: 20px;
    padding: 10px;
}

.search-form{
    padding: 15px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form input{
    gap: 10px;
    width: 100%;
    display: block;
    background-color: var(--chat-form-color);
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: var(--footer-chat-color);
}

.search-form input:focus{
    outline: 1px solid grey;
}

.chats{
    background-color: var(--aside-color);
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.chat-user-list img{
    border-radius: 50%;
    width: 70px;
}
.chat-user-list{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}
.chat-user-list:hover{
    background-color: var(--chat-form-color);
    cursor: pointer;
    border-left: 3px solid greenyellow ;
}